@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --color-background: #F8E9DD;
  --color-white: white;
  --color-soft-white: #FFFBF6;
  --color-light-brown: #92857A;
  --color-dark-brown: #382314;
  --color-cyan: #76B5BC;
  --color-red: #EC755D;

  --font-family-primary: 'DM Sans', sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
  font-family: var(--font-family-primary);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	height: 100vh;
	width: 100vw;
  background-color: var(--color-background);
}

#root {
  width: 34.3rem;
}